*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(85, 85, 85);
}

body , header button , .resetButton , .outlineButtons button{
    font-family: 'Space Mono', monospace;
}

header{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

header p{
    font-size: 2.3em;
    padding: 0.5em;
}

header p , .subhead{
    font-family: 'Gasoek One', sans-serif;
}

header button{
    margin-left: 3em;
    padding: 1em;
    width:auto;
}

main{
    background-color: rgb(255, 255, 255);
    width: 40rem;
    height: 27.59em; 
    margin: 0 auto; /*it gets my section centered in a vertical way*/
}

.asideImage , .asideText{
    background-color: yellowgreen;
    width: 17rem;
    height:37.1em;
    overflow-y: scroll;
    margin-top: -37.1em;
    margin-left: 61.3em;
}

.sectionTitle{
    background-color: blue;
    font-size: 2em;
    text-align: center;
    padding: 0.8em;
}

.optionsImage , .optionsText{
    background-color: salmon;
    margin: 0.5em;
}

.optionsImage > p {
    padding: 0.5em;
}

.subhead{
    background-color: rgb(112, 163, 146);
}

.customizableImage p{
    text-indent: -0.5em;
}

.customizableText .subhead{
    background-color: blueviolet;
    padding-bottom: 1em;
}

.optionsText select{
    background-color: yellow;
    width: max-content;

}
.optionsText .fontNumber {
    background-color: pink;
    width: 10em;
    /* margin-top: 0.5em; */
}
.fontButtons {
    background-color: seagreen;
    width: 9em;
}
.fontButtons button{
    background-color: chartreuse;
    width: 3em;
    height: 3em;
}
p.backgroundd , p.color{
    color: azure;
    
}


























